# ------------------ Application ------------------
APP_NAME=RAG
APP_VERSION=0.1.0
APP_DESCRIPTION=A RAG application
ENVIRONMENT=local

# ------------------ File Upload ------------------
# Maximum file size in bytes (50 MB)
MAX_FILE_SIZE_MB=50
